@import url("./font.css");
@import url("./animations.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body,
  .body {
    @apply bg-white text-[#4B4D59] tracking-wide overflow-x-hidden w-[100vw] min-h-screen;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c0c0c;
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  p {
    @apply font-light leading-[1.59rem];
  }

  button {
    @apply bg-gradient-to-r from-[#939ba3] to-[#939ba3] text-black;
    padding: 6px 40px;
    border-radius: 10px;
    font-weight: 500;
  }

  input {
    @apply h-[42px] py-2 px-[15px] text-sm text-black bg-transparent border-[1px] border-[#222] rounded-md;
  }

  @media (max-width: 500px) {
    input,
    select,
    .pass-field {
      height: 50px;
    }
  }

  input::placeholder {
    color: #5e6266;
    font-size: 12px;
    font-weight: 400;
  }
}

.menu-link {
  @apply text-[#ffffffa4] hover:text-white;
}
.active {
  @apply text-white;
}

.banner-section {
  background: url("/assets/images/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1000px;
  margin: auto;
}
.active {
  color: #fff !important;
}

.banner-btn {
  @apply w-max bg-white text-black px-8 lg:px-9 py-3 lg:py-4 text-sm font-bold flex justify-center items-center gap-3 lg:gap-4 rounded-2xl;
}
.banner-btn2 {
  @apply w-max bg-white text-black px-1 lg:px-6 py-3 text-sm font-bold flex justify-center items-center gap-1 lg:gap-4 rounded-2xl;
}
.banner-btn3 {
  @apply w-max bg-white text-black px-3 lg:px-16 py-2 lg:py-3 text-sm font-bold flex lg:flex-col justify-center items-center gap-1 lg:gap-2 rounded-2xl;
}

.title-btn {
  @apply bg-gradient-to-r from-[#787AFB] to-[#89B0FC] text-white;
}
.btnn1 {
  @apply bg-[#808EFF] text-white rounded-lg hover:bg-[#5a75cf] hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #2b3f7e59;
}
.btnn2 {
  @apply bg-[#FFFFFF] text-[#6e89e4] rounded-lg hover:bg-[#85a1fe3f] hover:text-white hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #032e2a77;
}
.btnn1-disabled {
  @apply bg-[#032e2a] text-black rounded-lg hover:bg-[#12DEC6] hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #032e2a;
}

.btnn-bluegrad {
  @apply bg-gradient-to-r from-[#7084FF] to-[#7084FF] text-black;
}

.download-bg {
  background: url("/assets/images/download-bg-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-vd {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -10000;
  position: fixed;
  background-image: url("/assets/videos/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.upppercase {
  text-transform: uppercase;
}

.title {
  /* transform: scale(0.7, 1.2); */
  display: inline-block;
  line-height: 2.5rem;
}

/* ANIMATIONS */
@keyframes rightBoxContainer {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leftBoxContainer {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
