@import url("./font.css");
@import url("./animations.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body,
  .body {
    @apply bg-[#0A0A0B] text-[#bebebe] tracking-wide overflow-x-hidden w-[100vw] min-h-screen;
  }

  ::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0c0c0c;
    border-radius: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  p {
    @apply font-light leading-[1.59rem];
  }

  button {
    @apply bg-gradient-to-r from-[#939ba3] to-[#939ba3] text-black;
    padding: 6px 40px;
    border-radius: 10px;
    font-weight: 500;
  }

  input {
    @apply h-[42px] py-2 px-[15px] text-sm text-white bg-transparent border-[1px] border-white rounded-md;
  }

  @media (max-width: 500px) {
    input,
    select,
    .pass-field {
      height: 50px;
    }
  }

  .pass-field {
    padding: 2px;
  }

  option {
    background-color: #181b24;
    color: #939ba3;
    font-size: 11px;
  }

  input::placeholder {
    color: #5e6266;
    font-size: 12px;
    font-weight: 400;
  }
}

.container {
  max-width: 1150px;
  margin: auto;
}
.active {
  color: #fff !important;
}

.btnn1 {
  @apply bg-[#00DBC2] text-black rounded-lg hover:bg-[#12DEC6] hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #032e2a;
}
.btnn2 {
  @apply bg-[#00DBC2] text-black rounded-sm hover:bg-[#12DEC6] hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #032e2a;
}
.btnn1-disabled {
  @apply bg-[#032e2a] text-black rounded-lg hover:bg-[#12DEC6] hover:scale-105 ease-in duration-300 cursor-pointer;
  box-shadow: 4px 4px 7px #032e2a;
}

.banner-vd {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -10000;
  position: fixed;
  background-image: url("/assets/videos/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.upppercase {
  text-transform: uppercase;
}

.title {
  /* transform: scale(0.7, 1.2); */
  display: inline-block;
  line-height: 2.5rem;
}

/* ANIMATIONS */
@keyframes rightBoxContainer {
  0% {
    transform: translateX(-10px);
  }
  10% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes leftBoxContainer {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
